@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.imageZoom:hover {
  --webkit-transform: scale(1.5);
  transform: scale(1.5);
}

body{
  padding-left: 5rem;
  padding-right: 5rem;
  min-width: screen;
  height: screen;
  background-color: #080808;
  color: #9C9C9C;
  font-family: "Space Mono", monospace;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.white-container{
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(255 255 255 / 0.1 );
  border: 2px, solid, rgb(255 255 255 / 0.5 );
  height: fit-content;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.25rem;
}

:any-link:hover{
  text-decoration: underline;
  color: #1c64f2;
}


.wave-container{
  animation: wave 4s ease-in-out infinite;
}

.wave-letter:nth-child(1){ animation-delay: 0s;}
.wave-letter:nth-child(2){ animation-delay: 0.5s;}
.wave-letter:nth-child(3){ animation-delay: 1.0s;}
.wave-letter:nth-child(4){ animation-delay: 1.5s;}

@keyframes wave {
  0%, 100%{
    transform: translateY();
  }
  50%{
    transform: translateY(-20px);
  }
}